{
    "extends": "react-app",
    "plugins": ["prettier"],
    "overrides": [
      {
          "files": ["**/*.js"],
          "rules": {
              "react-hooks/exhaustive-deps": "off"
          }
      }
  ]
  }
